html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 600px){
  .rootcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    max-width: 200px;
    margin: 20px;
  }
}

.authcard{
    margin: 10px auto !important;
    max-width: 500px !important;
    /* background-color: aqua !important; */
    padding: 10px;
}
input:focus {
  border-bottom: 1px solid blue !important;
  box-shadow: 0 1px 0 0 blue !important;
}



